html {
    font-size: 18px;
    font-family: "Helvetica", sans-serif
}

.header {
    background-color: black;
    color: white;
}
.container img {
    height: 1.5rem;
    padding: 0 1rem 0 0.5rem
}
.header .container {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 1.5rem;
}
.container span {
    font-size: 1rem;
}